# Target

In [1]:
##Show the relationship between working age population,old population and young population of USA

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv(r'C:\Users\User\Downloads\Indicators.csv')
data

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
...,...,...,...,...,...,...
5656453,Zimbabwe,ZWE,Time required to register property (days),IC.PRP.DURS,2015,3.600000e+01
5656454,Zimbabwe,ZWE,Time required to start a business (days),IC.REG.DURS,2015,9.000000e+01
5656455,Zimbabwe,ZWE,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,2.420000e+02
5656456,Zimbabwe,ZWE,Time to resolve insolvency (years),IC.ISV.DURS,2015,3.300000e+00
5656457,Zimbabwe,ZWE,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,3.280000e+01

In [4]:
data.columns

Index(['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year',
       'Value'],
      dtype='object')

In [5]:
data['CountryCode'].unique()

array(['ARB', 'CSS', 'CEB', 'EAS', 'EAP', 'EMU', 'ECS', 'ECA', 'EUU',
       'FCS', 'HPC', 'HIC', 'NOC', 'OEC', 'LCN', 'LAC', 'LDC', 'LMY',
       'LIC', 'LMC', 'MEA', 'MNA', 'MIC', 'NAC', 'OED', 'OSS', 'PSS',
       'SST', 'SAS', 'SSF', 'SSA', 'UMC', 'WLD', 'AFG', 'ALB', 'DZA',
       'ASM', 'ADO', 'AGO', 'ATG', 'ARG', 'ARM', 'ABW', 'AUS', 'AUT',
       'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ', 'BEN',
       'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN', 'BGR', 'BFA',
       'BDI', 'CPV', 'KHM', 'CMR', 'CAN', 'CYM', 'CAF', 'TCD', 'CHI',
       'CHL', 'CHN', 'COL', 'COM', 'ZAR', 'COG', 'CRI', 'CIV', 'HRV',
       'CUB', 'CUW', 'CYP', 'CZE', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU',
       'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'ETH', 'FRO', 'FJI', 'FIN',
       'FRA', 'PYF', 'GAB', 'GMB', 'GEO', 'DEU', 'GHA', 'GRC', 'GRL',
       'GRD', 'GUM', 'GTM', 'GIN', 'GNB', 'GUY', 'HTI', 'HND', 'HKG',
       'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'IMY', 'ISR',
       'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KIR', 'PRK', 'KOR',
       'KSV', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY',
       'LIE', 'LTU', 'LUX', 'MAC', 'MKD', 'MDG', 'MWI', 'MYS', 'MDV',
       'MLI', 'MLT', 'MHL', 'MRT', 'MUS', 'MEX', 'FSM', 'MDA', 'MCO',
       'MNG', 'MNE', 'MAR', 'MOZ', 'MMR', 'NAM', 'NPL', 'NLD', 'NCL',
       'NZL', 'NIC', 'NER', 'NGA', 'MNP', 'NOR', 'OMN', 'PAK', 'PLW',
       'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT',
       'ROM', 'RUS', 'RWA', 'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB',
       'SYC', 'SLE', 'SGP', 'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF',
       'SSD', 'ESP', 'LKA', 'KNA', 'LCA', 'MAF', 'VCT', 'SDN', 'SUR',
       'SWZ', 'SWE', 'CHE', 'SYR', 'TJK', 'TZA', 'THA', 'TMP', 'TGO',
       'TON', 'TTO', 'TUN', 'TUR', 'TKM', 'TCA', 'TUV', 'UGA', 'UKR',
       'ARE', 'GBR', 'USA', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'VIR',
       'WBG', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [6]:
data1=data['CountryCode'].str.contains('USA')
USA_DATA=data[data1]
USA_DATA

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
22220,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,84.987200
22221,United States,USA,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,66.524844
22222,United States,USA,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,15.230264
22223,United States,USA,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,51.294580
22224,United States,USA,Alternative and nuclear energy (% of total ene...,EG.USE.COMM.CL.ZS,1960,1.261261
...,...,...,...,...,...,...
5655831,United States,USA,Time required to register property (days),IC.PRP.DURS,2015,15.200000
5655832,United States,USA,Time required to start a business (days),IC.REG.DURS,2015,5.600000
5655833,United States,USA,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,175.000000
5655834,United States,USA,Time to resolve insolvency (years),IC.ISV.DURS,2015,1.500000
5655835,United States,USA,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,43.900000

In [7]:
adr=USA_DATA['IndicatorName'].str.contains('Age dependency ratio')
adr=USA_DATA[adr]
adr

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
22221,United States,USA,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,66.524844
22222,United States,USA,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,15.230264
22223,United States,USA,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,51.294580
48688,United States,USA,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1961,67.061661
48689,United States,USA,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1961,15.421149
...,...,...,...,...,...,...
5527274,United States,USA,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,2013,20.949493
5527275,United States,USA,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,2013,28.721757
5637254,United States,USA,Age dependency ratio (% of working-age populat...,SP.POP.DPND,2014,50.256389
5637255,United States,USA,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,2014,21.621460
5637256,United States,USA,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,2014,28.634929

In [10]:
op=adr['IndicatorName'].str.contains('old')
op=adr[op]
yp=adr['IndicatorName'].str.contains('young')
yp=adr[yp]
wp=adr['IndicatorName'].str.contains('Age dependency ratio')
wp

22221      True
22222      True
22223      True
48688      True
48689      True
           ...
5527274    True
5527275    True
5637254    True
5637255    True
5637256    True
Name: IndicatorName, Length: 165, dtype: bool

In [11]:
wp=adr-op-yp
wp=wp[wp]
wp

TypeError: unsupported operand type(s) for -: 'str' and 'str'