In [1]:
import pandas as pd

In [2]:
animals=['tiger','bear','moose']
pd.Series(animals)

0    tiger
1     bear
2    moose
dtype: object

In [4]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals=['tiger','bear',None]
pd.Series(animals)

0    tiger
1     bear
2     None
dtype: object

In [6]:
numbers=[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
sports={'Archery':'B','Golf':'S'}
s=pd.Series(sports)
s

Archery    B
Golf       S
dtype: object

In [8]:
s.values

array(['B', 'S'], dtype=object)

In [9]:
s.index

Index(['Archery', 'Golf'], dtype='object')

In [10]:
s=pd.Series(['tiger','bear','moose'],index=['India','America','Canada'])
s

India      tiger
America     bear
Canada     moose
dtype: object

In [11]:
sports={'Archery':'B','Golf':'S','Sumo':'Japan','taekwondo':'Sk'}

s=pd.Series(sports,index=['Golf','Sumo','hockey'])
s

Golf          S
Sumo      Japan
hockey      NaN
dtype: object

In [12]:
sports={'Archery':'B','Golf':'S','Sumo':'Japan','taekwondo':'Sk'}
s=pd.Series(sports)
s

Archery          B
Golf             S
Sumo         Japan
taekwondo       Sk
dtype: object

In [13]:
s.iloc[3]

'Sk'

In [14]:
s.loc['Golf']

'S'

In [15]:
s[3]

'Sk'

In [16]:
s['Golf']

'S'

In [17]:
sports={99:'A',100:'B',101:'C',102:'D'}
s=pd.Series(sports)

In [18]:
s[0]

KeyError: 0

In [19]:
os=pd.Series({'Archery':'B','Golf':'S','Sumo':'Japan','taekwondo':'Sk'})
clc=pd.Series(['Aus','Barba','Pak','Eng'],index=['Cricket','Cricket','Cricket','Cricket'])
all=os.append(clc)

In [20]:
all

Archery          B
Golf             S
Sumo         Japan
taekwondo       Sk
Cricket        Aus
Cricket      Barba
Cricket        Pak
Cricket        Eng
dtype: object

In [1]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [2]:
total=0
for item in s:
    total+=item
print(total)

324.0

In [3]:
import numpy as np
s=pd.Series(np.random.randint(0,1000,10000))
print(s.head())
s.tail()

0    988
1    347
2    167
3    299
4    551
dtype: int32

9995    794
9996     88
9997    219
9998    659
9999    356
dtype: int32

In [4]:
s=pd.Series([1,2,3])
s.loc['Animal']='Bears'
s[3]="902"
s

0           1
1           2
2           3
Animal    902
dtype: object

In [5]:
a = pd.Series([2, 4, 8, 20, 10, 47, 99])
b = pd.Series([1, 3, 6, 4, 10, 99, 50])
res = a[~a.isin(b)]
print(res)

0     2
2     8
3    20
5    47
dtype: int64

In [9]:
a = pd.Series([2, 4, 8, 20, 10, 47, 99])
b = pd.Series([1, 3, 6, 4, 10, 99, 50])
inter=pd.Series(np.intersect1d(a,b))
print(inter)

0     4
1    10
2    99
dtype: int64

In [1]:
a = pd.Series([2, 4, 8, 20, 10, 47,47,99, 99])
b = pd.Series([1, 3, 6, 4, 10, 99, 50])
union=pd.Series(np.union1d(a,b))
print(union)

0      1
1      2
2      3
3      4
4      6
5      8
6     10
7     20
8     47
9     50
10    99
dtype: int64

In [2]:
notcommonseries = union[~union.isin(inter)]
print(notcommonseries)

NameError: name 'inter' is not defined

In [3]:
print(a.value_counts())

47    2
99    2
10    1
8     1
20    1
4     1
2     1
dtype: int64

In [1]:
import numpy as nm
import pandas as pd
mylist=list('abcdefghijklmnopqrstuvwxyz')
myarr=np.arange(26)
mydict=dict(zip(mylist,myarr))
s1=pd.Series(mylist)
s2=pd.Series(myarr)
s3=pd.Series(mydict)
print(s3.head())

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [2]:
import pandas as pd
p1=pd.Series({'Name':'Chris','Item':'Dog Food','Cost':99.23})
p2=pd.Series({'Name':'Kevyn','Item':'Cat Food','Cost':2.10})
p3=pd.Series({'Name':'Devis','Item':'Bird Food','Cost':8.23})
df=pd.DataFrame([p1,p2,p3],index=['S1','S1','S2'])

In [5]:
df

     Name       Item   Cost
S1  Chris   Dog Food  99.23
S1  Kevyn   Cat Food   2.10
S2  Devis  Bird Food   8.23

In [6]:
df2=df.to_csv('store.csv')

In [7]:
a=df.index

In [8]:
a

Index(['S1', 'S1', 'S2'], dtype='object')

In [9]:
df.loc['S2']

Name        Devis
Item    Bird Food
Cost         8.23
Name: S2, dtype: object

In [10]:
type(df.loc['S2'])

pandas.core.series.Series

In [11]:
df["Name"]

S1    Chris
S1    Kevyn
S2    Devis
Name: Name, dtype: object

In [12]:
type(df["Name"])

pandas.core.series.Series

In [13]:
df.loc["S1","Cost"]

S1    99.23
S1     2.10
Name: Cost, dtype: float64

In [14]:
df.T #transpose

            S1        S1         S2
Name     Chris     Kevyn      Devis
Item  Dog Food  Cat Food  Bird Food
Cost     99.23       2.1       8.23

In [15]:
df.T.loc["Cost"]

S1    99.23
S1      2.1
S2     8.23
Name: Cost, dtype: object

In [16]:
df.loc[:,["Name",'Cost']]

     Name   Cost
S1  Chris  99.23
S1  Kevyn   2.10
S2  Devis   8.23

In [17]:
df.drop("S1")

     Name       Item  Cost
S2  Devis  Bird Food  8.23

In [18]:
df

     Name       Item   Cost
S1  Chris   Dog Food  99.23
S1  Kevyn   Cat Food   2.10
S2  Devis  Bird Food   8.23

In [20]:
del df['Name']

In [21]:
df

         Item   Cost
S1   Dog Food  99.23
S1   Cat Food   2.10
S2  Bird Food   8.23

In [22]:
df['Location']=None

In [23]:
df

         Item   Cost Location
S1   Dog Food  99.23     None
S1   Cat Food   2.10     None
S2  Bird Food   8.23     None

In [24]:
costs=df["Cost"]

In [5]:
import pandas as pd
p1=pd.Series({'Name':'Anuj maheta','Tickets':5,'Amount':1355})
p2=pd.Series({'Name':'Sandeep Oza','Tickets':2,'Amount':1169})
p3=pd.Series({'Name':'Manvi Sharma','Tickets':6,'Amount':1988})
df=pd.DataFrame([p1,p2,p3],index=['T0001','T0002','T0003'])

In [6]:
df

               Name  Tickets  Amount
T0001   Anuj maheta        5    1355
T0002   Sandeep Oza        2    1169
T0003  Manvi Sharma        6    1988

In [5]:
import pandas as pd
data=[['T0001','Anuj maheta',5,1355],['T0002','Sandeep Oza',2,1169],['T0003','Manvi Sharma',6,1988]]
df=pd.DataFrame(data,columns=['TCode','Name','Tickets','Amount'])
print(df.to_string(index=False))

 TCode          Name  Tickets  Amount
 T0001   Anuj maheta        5    1355
 T0002   Sandeep Oza        2    1169
 T0003  Manvi Sharma        6    1988

In [9]:
import pandas as pd
data=[['Sofa','Wooden','Maroon',25000],['Dining Table','Ply','Yellow',20000],['Chair','Plasttic','Red',1500],['Sofa','SS','Silver',55000],['Chair','Wooden','Light Blue',2500],['Dining Table','Alumini','Gold',65000]]
furni=pd.DataFrame(data,columns=['Item','Material','Color','Cost'])
print(furni.to_string(index=False))

         Item  Material       Color   Cost
         Sofa    Wooden      Maroon  25000
 Dining Table       Ply      Yellow  20000
        Chair  Plasttic         Red   1500
         Sofa        SS      Silver  55000
        Chair    Wooden  Light Blue   2500
 Dining Table   Alumini        Gold  65000

In [14]:
print(furni[furni['Item']=='Sofa'],'n',
      furni[furni['Item']=='Chair'])

   Item Material   Color   Cost
0  Sofa   Wooden  Maroon  25000
3  Sofa       SS  Silver  55000 n     Item  Material       Color  Cost
2  Chair  Plasttic         Red  1500
4  Chair    Wooden  Light Blue  2500

In [11]:
print(furni[furni['Cost']>25000])

           Item Material   Color   Cost
3          Sofa       SS  Silver  55000
5  Dining Table  Alumini    Gold  65000

In [12]:
print(furni[furni['Cost']<10000])

    Item  Material       Color  Cost
2  Chair  Plasttic         Red  1500
4  Chair    Wooden  Light Blue  2500

In [15]:
print(furni.iloc[::2])

    Item  Material       Color   Cost
0   Sofa    Wooden      Maroon  25000
2  Chair  Plasttic         Red   1500
4  Chair    Wooden  Light Blue   2500

In [18]:
data={'House':['Blue','Red','Green','Yellow'],
     'Activity1':[98,87,59,78],
     'Activity2':[85,76,67,99],
     'Activity3':[88,80,91,55]}
furni=pd.DataFrame(data)
print(furni.to_string(index=False))

  House  Activity1  Activity2  Activity3
   Blue         98         85         88
    Red         87         76         80
  Green         59         67         91
 Yellow         78         99         55

In [20]:
r={'Term1':200,'Term2':189}
g={'Term1':350,'Term2':250}
b={'Term1':400,'Term2':400}
y={'Term1':380,'Term2':300}
c={'Red':r,'Green':g,'Blue':b,'Yellow':y}
df=pd.DataFrame(c)
print(df)

       Red  Green  Blue  Yellow
Term1  200    350   400     380
Term2  189    250   400     300